<a href="https://colab.research.google.com/github/ViktorKos/Python/blob/main/%22%D0%9C%D0%BE%D0%B4%D1%83%D0%BB%D1%8C_2_%D0%A2%D0%B5%D0%BE%D1%80%D0%B5%D1%82%D0%B8%D1%87%D0%BD%D0%B0_%D1%87%D0%B0%D1%81%D1%82%D0%B8%D0%BD%D0%B0_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задачі для теоретичного заняття другого дня

Задачі теоретичного блоку: продемонструвати на практичному прикладі теорію пов'язану з умовним виконання, булевою алгеброю, тернарними операціями, видами циклів, перериванням циклів і виключеннями

Для самостійного опрацювання і спроб запускати всі існуючі задачі не заважаючи іншим студентам курсу потрібно здійснити наступні кроки:

1. Натиснути кнопку "Файл" в лівому верхньому куті
2. Вибрати пункт "Зберегти копію на диску"
3. У вікні з вашою копією у правому верхньому куті натиснути "Підключитись"

Можете запускати всі задачі, які забажаєте і писати власні програми вивчаючи функціонал цього середовища

## Умовне виконання

Оператор контролю виконання дозволяє виконувати блоки інструкцій не завжди, а тільки тоді, коли буде виконана умова.

Головний оператор контролю це "if ... elif ... else"

Під час виконання умовного оператора інтерпретатор Python перевіряє умови зверху вниз, доки не знайде те, яке виконується, потім виконає вираз для цієї умови та вийде з перевірки умов.

In [ ]:
from IPython.display import Image
Image(url='https://pythonexamples.org/wp-content/uploads/2020/07/python-if.gif')

## Булева алгебра (Логічні оператори)

AND -- Це бінарний оператор, оточений 2 операндами (змінними, константами або виразами). Він аналізує їх і виводить значення на основі наступного факту: "Він виводить значення True, тільки якщо операнди по обидва боки AND мають значення True".

In [ ]:
x = 5
y = 10
z = 11
print((x > y) and (y > z))
print((x > y) and (y < z))
print((x < y) and (y > z))
print((x < y) and (y < z))

False
False
False
True

OR -- Це бінарний оператор, оточений 2 операндами (змінними, константами або виразами). Він аналізує їх і виводить значення на основі наступного факту: "Він виводить значення False, тільки якщо операнди по обидва боки OR мають значення False".

In [ ]:
x = 5
y = 10
z = 11
print((x > y) or (y > z))
print((x > y) or (y < z))
print((x < y) or (y > z))
print((x < y) or (y < z))

False
True
True
True

NOT -- Це унарний оператор, який використовується для заперечення виразу після наступного оператора. Відповідно до цього, кожен вираз True стає False і навпаки

In [ ]:
x = True
y = False
print(not x)
print(not y)

False
True

In [ ]:
x = 5
y = 10
print(x > y)
print(not (x > y))

False
True

## Умови у **Python**

###If умова

Перевірити чи a менше за b

In [ ]:
a = 6
b = 5

if a < b:
    print(f'{a} is less than {b}')

print("End of code")

End of code

Перевірити чи a менше за b i c

In [ ]:
a = 2
b = 5
c = 4

if a < b and a < c:
   print(f'{a} is less than {b} and {c}')

2 is less than 5 and 4

Перевірити a на рівність нулю

In [ ]:
a = 0

if a:
    print(f'{a} is not zero')

print("End of code")

End of code

In [ ]:
a = -2

# if a < 0 < a:
#     print(f'{a} is not zero')

if a < 0 or a > 0:
    print(f'{a} is not zero')

print("End of code")

End of code

Перевірити а  на рівність нулю

In [ ]:
a = 0

if a!=0:
  print(f'{a} is not zero')

if a == 0:
  print(f'{a} is zero')

print("End of code")

0 is zero
End of code

Перевірка а по декількох умовах

In [ ]:
a = int(input("Enter value a: "))

if not a % 2 and not a % 3:
    print("а not divides by 2 and 3")

if not a % 2 and a % 5:
    print("а not divides by 2 and divides by 5")

if a < 0 or a > 3:
    print("а not belong to range from 0 to 3")

if a >= -2 and a <= 0:
    print("а belong to range from -2 to 0")

Enter value a: 6
а not divides by 2 and 3
а not divides by 2 and divides by 5
а not belong to range from 0 to 3

###If...else умова

Перевірити а  на рівність нулю

In [ ]:
a = 0

if a:
  print(f'{a} is not zero')
else:
  print("a is zero")

a is zero

Перевірити чи a менше за b

In [ ]:
a = 6
b = 4

if a < b:
  print(f'{a} is less than {b}')
else:
  print(f'{a} is not less than {b}')

6 is not less than 4

Перевірка паролю для пропуску на сайт

In [ ]:
entry = input('Password: ')

if entry is 'test2023':
  print('Access Granted')
else:
  print('Access Denied')

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?

Password: test2023
Access Denied

<ipython-input-26-41bb51a03855>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if entry is 'test2023':

In [ ]:
entry = input('Password: ')

if entry == 'test2023':
  print('Access Granted')
else:
  print('Access Denied')

Password: test2023
Access Granted

Перевірка балансу для здійснення покупки

In [ ]:
balance = 0.7 + 0.6

if balance >= 1.3:
  balance -= 1.3
  print("Enough")
else:
  print("Not enough")

1.3
Enough

Перевірка допуску через ім'я

In [ ]:
name = 'Alex'

if name == 'Bob' or 'Mike' or 'Tom':
  print('Access Granted')
else:
  print('Access Denied')

Access Granted

In [ ]:
name = 'Alex'

if name == 'Bob' or name == 'Mike' or name == 'Tom':
  print('Access Granted')
else:
  print('Access Denied')

Access Denied

###If...elif...else умова

Перевірка рівності a i b

In [ ]:
a = 2
b = 4

if a < b:
  print(f'{a} is less than {b}')
elif a > b:
  print(f'{a} is not less than {b}')
else:
  print(a, 'equals', b)

2 is less than 4

Перевірка а по декількох умовах

In [ ]:
a = 0

if a < 0:
	print(f'{a} is negative')
elif a == 0:
	print('It is a 0')
elif a > 0 and a < 5:
	print(f'{a} is in (0,5)')
else:
	print(f'{a} equals or greater than 5')

It is a 0

In [ ]:
a = 7.5

if a<0:
	print('a is less than zero.')
elif a>0 and a<8:
	print('a is in (0,8)')
elif a>7 and a<15:
	print('a is in (7,15)')

a is in (0,8)

In [ ]:
a = 7.5

if a<0:
	print('a is less than zero.')
elif a>0 and a<8:
	print('a is in (0,8)')

if a>7 and a<15:
	print('a is in (7,15)')

a is in (0,8)
a is in (7,15)

## Заміна if або оператор, про який не розкажуть на інших курсах
Працює на версії Python 3.10 і вище

Оператор match приймає значення, яке поступає на вхід і задопомогою case заміняє if...elif...else

In [ ]:
x = 100

# x is the variable to match
match x:
  # if x is 0
  case 0:
    print("x is zero")
  # case with if-condition
  case 4 if x % 2 == 0:
    print("x % 2 == 0 and case is 4")
  # Empty case with if-condition
  case _ if x < 10:
    print("x is < 10")
  # default case(will only be matched if the above cases were not matched)
  # so it is basically just an else:
  case _:
    print(x)

100

## Тернарні операції

[statement_1] if [expression] else [statement_2]

Знаходимо більше число

In [ ]:
a, b = 5, 7

#get maximum of a, b
max_value = a if a > b else b

print(f'Maximum: {max_value}')

Maximum: 7

In [ ]:
if a>b:
  print(f'Maximum: {a}')
else:
  print(f'Maximum: {b}')

Maximum: 7

Перевіряємо, яке число більше серед двох чисел

In [ ]:
a, b = 2, 5

#ternary operator
print('A bigger than B') if a > b else print('B bigger than A')

B bigger than A

In [ ]:
# nested ternary operator
a, b = 10, 10

print("Both a and b are equal" if a == b else "a is greater than b"
        if a > b else "b is greater than a")

a is greater than b

In [ ]:
if a==b:
  print(f'Equal')
else:
  if a>b:
    print(f'Maximum: {a}')
  else:
    print(f'Maximum: {b}')

Maximum: 10

Перевіряємо, яке число більше серед трьох чисел

In [ ]:
a, b, c = 151, 93, 122

#nested ternary operator
max_value = a if a > b and a>c else b if b>c else c

print(max_value)

151

Використання тернарного оператора для визначення парності або непарності числа

In [ ]:
number = int(input("Enter natural number: "))

result = 'even' if number % 2 == 0 else 'odd'

print(f'The number {number} is {result}.')

Enter natural number: 7
The number 7 is odd.

In [ ]:
number = int(input("Enter natural number: "))

result = (number % 2 == 0) and "Even" or "Odd"

print(f'The number {number} is {result}.')

Enter natural number: 6
The number 6 is Even.

## Блоки інструкцій

In [ ]:
a = 2

if a!=0:
  print(f'{a} is not zero.')
  if a>0:
    print(f'{a} is positive.')
  if a<0:
    print(f'{a} is negative.')
else:
  print(f'{a} is zero')

2 is not zero.
2 is positive.

Перевіряємо, яке число більше серед трьох чисел

In [ ]:
a = 2
b = 3
c = 4

max_value = None

if a < b:
  print(f'{a} is less than {b}')
  max_value = b
  if c < b:
    print(f'{c} is less than {b}')
    max_value = b
  else:
    print(f'{c} is not less than {b}')
    max_value = c
else:
  print(f'{a} is not less than {b}')
  max_value = a

print(f"Maximum value is {max_value}")

2 is less than 3
4 is not less than 3
Maximum value is 4

## Цикл for

Знайти суму чисел в певному діапазоні

In [ ]:
sum = 0

for element in range(1, 11):
  sum += element

print(sum)

55

Програма читає число `n` кількості вхідних значень, а далі читає `n` значень. І рахує суму та середнє арифметичне цих значень.

In [ ]:
n = int(input("Enter range of number: "))

sum = 0

for _ in range(1, n + 1):
    num = int(input("Enter value: "))
    sum = sum + num

print(f"Sum equal {sum} and average value equal {round(sum/n,2)}")

Enter range of number: 3
Enter value: 4
Enter value: 5
Enter value: 6
Sum equal 15 and average value equal 5.0

Підрахунок суми цифр в числі

In [ ]:
n = input("Enter natural number: ")

sum = 0

for char in n:
    num = int(char)
    sum += num

print(f"Sum of digits in number {sum}")

Enter natural number: 123456789
Sum of digits in number 45

Користувач вводить рядок. Порахувати кількість символів a, o, t. Обчислити відсоток символів a, o, t. Порахувати кількість слів у цьому рядку.

In [ ]:
string = input("Enter sentence: ")

count_symbols = 0
count_a = 0
count_o = 0
count_t = 0
count_space = 0

for char in string:
    count_symbols += 1
    if char == 'a':
        count_a += 1
        continue
    if char == 'o':
        count_o += 1
        continue
    if char == 't':
        count_t += 1
        continue
    if char == ' ':
        count_space += 1

print(f"Count of symbols 'a' {count_a} - percentage in sentence {round((count_a/count_symbols)*100,2)}%")
print(f"Count of symbols 'o' {count_o} - percentage in sentence {round((count_o/count_symbols)*100,2)}%")
print(f"Count of symbols 't' {count_t} - percentage in sentence {round((count_t/count_symbols)*100,2)}%")
print(f"Count of words {count_space + 1}")

Enter sentence: Learn new skills to boost your productivity and enable your organization to accomplish more with Microsoft Certifications.
Count of symbols 'a' 7 - percentage in sentence 5.74%
Count of symbols 'o' 14 - percentage in sentence 11.48%
Count of symbols 't' 10 - percentage in sentence 8.2%
Count of words 17

Програма отримує числа `a` і `b` від `1` до `20` (відповідність введення перевіряється), обчислює суму і добуток усіх чисел від `a` до `b`.

In [ ]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))

if (a >= 1 and a <= 20) and (b >= 1 and b <= 20):
    sum = 0
    mul = 1

    for el in range(a, b + 1):
        sum = sum + el
        mul = mul * el

    print(f"Sum {sum}, product of numbers {mul}")
else:
    print("The numbers a and b must be between 1 and 20")

Enter a: 2
Enter b: 3
Sum 5, product of numbers 6

## Цикл while

In [ ]:
a = 1

while a <= 5:
  print(a)
  a += 1

1
2
3
4
5

Як можна динамічно перервати цикл за допомогою If умови

In [ ]:
condition = True
increment = 0

while condition:
  if increment == 3:
    condition = False

  print(increment)
  increment += 1

print("Out of while loop")

0
1
2
3
Out of while loop

Скільки чисел необхідно, щоб сума виду `1+2+3+4+...` стала більшою за `100`

In [ ]:
sum = 0

counter = 1

while True:
    sum += counter
    if sum > 100:
        break
    counter += 1

print(f"Sum {sum} last value {counter}")

Sum 105 last value 14

While і For може використовуватись з else значенням

In [ ]:
word = 'python'
for char in word:
  if char == 'o':
    print("There is 'o' in the word")
    break
else:
  print("There are no 'o' in the word")

There is 'o' in the word

In [ ]:
increment = 0

while increment <= 3:
  print(increment, end=" ")
  increment+=1
else:
  print(0)

0 1 2 3 0

Таблиця, що містить головні переваги та недоліки використання циклів `for` і `while` у мові програмування Python:

|              | Переваги                                                      | Недоліки                                                        |
|--------------|---------------------------------------------------------------|-----------------------------------------------------------------|
| Цикл `for`   | - Зручний для ітерації по колекціях або послідовностях даних.  | - Вимагає заздалегідь відомого діапазону ітерацій.              |
|              | - Простий для розуміння та використання.                       | - Не підходить для ситуацій, коли потрібна нескінченна ітерація. |
|              | - Забезпечує автоматичне керування кроком ітерації.             |                                                                 |
|              | - Зручний для обробки елементів колекції один за одним.        |                                                                 |
| Цикл `while` | - Дозволяє виконувати блок коду, доки певна умова виконується.  | - Потенційно може призвести до безкінечного циклу.              |
|              | - Зручний для ситуацій, коли кількість ітерацій невідома заздалегідь. | - Вимагає відповідного оновлення умови виходу з циклу.       |
|              | - Можна використовувати для реалізації складних умови у циклі. | - Потенційно може призвести до складності управління циклом.   |
|              | - Забезпечує гнучкий контроль над процесом ітерації.           |                                                                 |

## Переривання циклів

In [ ]:
string = 'break statement'
# Using for loop
for letter in string:
	print(letter)

	if letter == 'e' or letter == 's':
		break

print("Out of for loop")

b
r
e
Out of for loop

In [ ]:
increment = 0

# Using while loop
while True:

  if increment == 3:
    print("Value is equal to 3")
    break

  print(increment)
  increment += 1

print("Out of while loop")

0
1
2
Value is equal to 3
Out of while loop

In [ ]:
for letter in "continue statement":

	# If i is equals to 'n' or 't',
	# continue to next iteration
	# without printing
	if letter == "n" or letter == "t":
		continue
	else:
		print(letter, end = " ")

c o i u e   s a e m e

In [ ]:
string = "statement"

# Empty loop
for _ in string:
	# No error will be raised
	pass

# Pass statement
for i in string:
  # If i is equals to 't',
	# continue to next iteration
	# with printing
	if i == 't':
		print('Pass executed')
		pass
	print(i)

s
Pass executed
t
a
Pass executed
t
e
m
e
n
Pass executed
t

## Винятки

In [ ]:
value_x = 5
value_y = "hello"

try:
    result = value_x + value_y
    print(result)

except TypeError:
    print("Error: Cannot concatenate int and str.")

finally:
  print("End of calculation")

Error: Cannot concatenate int and str.
End of calculation

In [ ]:
user_input = input("Enter a positive integer: ")
try:
    number = int(user_input)
    if number <= 0:
        raise ValueError("Error: The number must be positive!")
    print(f"The square of {number} is {number**2}.")
except ValueError as e:
    print(str(e))

Enter a positive integer: 5
The square of 5 is 25.

In [ ]:
try:
  value_a = input("Enter value a: ")
  value_b = input("Enter value b: ")

  value_x = -float(value_b)/float(value_a)

except ValueError:
  print("Error: Cannot divide float and str")

except ZeroDivisionError:
  print("Error: Cannot divide by zero")

else:
  print(f"Result x equal: {value_x}")

finally:
  print("End of calculation")

Enter value a: 4
Enter value b: 3
Result x equal: -0.75
End of calculation

In [ ]:
try:
  value_a = input("Enter value a: ")
  value_b = input("Enter value b: ")

  value_x = -value_b / value_a

except TypeError:
  print("TypeError exception block")
  try:
    value_x = -float(value_b) / float(value_a)

  except ValueError:
    print("Error: Cannot divide float and str")

  except ZeroDivisionError:
    print("Error: Cannot divide by zero")

  else:
    print(f"Result x equal: {round(value_x, 2)}")

else:
  print(f"Result x equal: {round(value_x, 2)}")

finally:
  print("End of calculation")

Enter value a: 4
Enter value b: 3
TypeError exception block
Result x equal: -0.75
End of calculation

In [ ]:
try:
  value_a = input("Enter value a: ")
  value_b = input("Enter value b: ")

  value_x = -float(value_b)/float(value_a)
except Exception as e:
  print(f"Raised exception {e}")

Enter value a: 0
Enter value b: ome
Raised exception could not convert string to float: 'ome'

Ієрархія винятків

![image.png]()

Ось короткий опис кожної помилки з ієрархії виключень у Python:

- BaseException: Базовий клас для всіх виключень у Python.
  - SystemExit: Використовується для сигналізації про виходу з програми.
  - KeyboardInterrupt: Використовується, коли користувач перериває виконання програми, зазвичай за допомогою комбінації клавіш Ctrl+C.
  - GeneratorExit: Використовується при закритті генератора.
  - Exception: Базовий клас для всіх стандартних виключень у Python.
    - StopIteration: Сигналізує про завершення ітерації.
    - StopAsyncIteration: Сигналізує про завершення асинхронної ітерації.
    - ArithmeticError: Базовий клас для виключень, пов'язаних з арифметичними операціями.
      - FloatingPointError: Виникає при помилках з плаваючою точкою.
      - OverflowError: Виникає при переповненні числа.
      - ZeroDivisionError: Виникає при діленні на нуль.
    - AssertionError: Використовується, коли утвердження assert не виконується.
    - AttributeError: Виникає, коли об'єкт не має атрибута або методу.
    - BufferError: Виникає при помилках з буфером.
    - EOFError: Виникає, коли відсутні дані при читанні з файлу або потоку.
    - ImportError: Виникає, коли не вдається імпортувати модуль або атрибут.
      - ModuleNotFoundError: Виникає, коли не вдається знайти модуль для імпорту.
    - LookupError: Базовий клас для виключень, пов'язаних з пошуком.
      - IndexError: Виникає при доступі до елемента за недійсним індексом у послідовності.
      - KeyError: Виникає при доступі до невизначеного ключа у словнику.
    - MemoryError: Виникає, коли недостатньо пам'яті для виконання операції.
    - NameError: Виникає, коли невизначений ідентифікатор використовується.
      - UnboundLocalError: Виникає, коли невизначена локальна змінна використовується.
    - OSError: Базовий клас для виключень, пов'язаних з операціями вводу-виводу та операційною системою.
      - BlockingIOError: Виникає, коли операція вводу-виводу блокується.
      - ChildProcessError: Виникає, коли виникає помилка при роботі з дочірнім процесом.
      - ConnectionError: Базовий клас для виключень, пов'язаних зі з'єднанням.
        - BrokenPipeError: Виникає, коли спроба запису в об'єкт труби, який більше не читається процесом на іншому кінці, закривається.
        - ConnectionAbortedError: Виникає, коли з'єднання переривається.
        - ConnectionRefusedError: Виникає, коли спроба підключення до порту відмовляється.
        - ConnectionResetError: Виникає, коли з'єднання переривається з іншого кінця.
      - FileExistsError: Виникає, коли файл або директорія вже існує.
      - FileNotFoundError: Виникає, коли файл або директорія не знайдені.
      - InterruptedError: Виникає, коли операція переривається сигналом.
      - IsADirectoryError: Виникає, коли спроба виконати файлову операцію для директорії.
      - NotADirectoryError: Виникає, коли спроба виконати операцію з файлами для об'єкту, який не є директорією.
      - PermissionError: Виникає, коли немає дозволу на доступ до ресурсу або файлу.
      - ProcessLookupError: Виникає, коли невірний ідентифікатор процесу передається функції.
      - TimeoutError: Виникає, коли операція не встигла завершитися за визначений час.
    - ReferenceError: Виникає, коли намагаєтесь отримати доступ до посилання, яке не вказує на об'єкт.
    - RuntimeError: Базовий клас для виключень, пов'язаних з помилками виконання.
      - NotImplementedError: Виникає, коли метод або функція не є реалізованими.
      - RecursionError: Виникає, коли рекурсивний виклик досягає обмежень стеку.
    - SyntaxError: Виникає, коли знайдена синтаксична помилка в програмному коді.
      - IndentationError: Базовий клас для винятків, пов'язаних з відступами в коді.
        - TabError: Виникає, коли використовуються несумісні пробіли та табуляція.
    - SystemError: Виняток, що виникає при виявленні внутрішньої помилки в інтерпретаторі Python.
    - TypeError: Виникає, коли оператор або функція викликається з неправильним типом даних або неправильними аргументами.
    - ValueError: Виникає, коли аргумент має правильний тип, але недійсне значення.
      - UnicodeError: Базовий клас для винятків, пов'язаних з рядками Unicode.
        - UnicodeDecodeError: Виникає, коли неможливо декодувати рядок з Unicode.
        - UnicodeEncodeError: Виникає, коли неможливо закодувати рядок до Unicode.
        - UnicodeTranslateError: Виникає, коли виникає помилка при перекладі рядка Unicode.
    - Warning: Базовий клас для всіх вибранок (попереджень) у Python.
      - DeprecationWarning: Попередження, що сигналізує про відмінність від рекомендованого використання.
      - PendingDeprecationWarning: Попередження, що сигналізує про майбутню відмінність від рекомендованого використання.
      - RuntimeWarning: Попередження, що сигналізує про сумнівну поведінку під час виконання.
      - SyntaxWarning: Попередження, що сигналізує про сумнівну синтаксичну конструкцію.
      - UserWarning: Попередження, яка видається користувачем.
      - FutureWarning: Попередження, що сигналізує про можливі зміни у майбутніх версіях.
      - ImportWarning: Попередження, що сигналізує про проблеми з імпортом модуля.
      - UnicodeWarning: Попередження, що сигналізує про проблеми з рядками Unicode.
      - BytesWarning: Попередження, що сигналізує про проблеми з байтовими рядками.
      - ResourceWarning: Попередження, що сигналізує про проблеми з ресурсами, які можуть призвести до витоку пам'яті.